*.bat
*.cachefile
*.dll
*.pdb
*.png
*.shfb
*.suo
*.user
*.vspscc
*.vssscc

/build

/prototype/asvo/bin
/prototype/asvo/Content/obj/
/prototype/asvo/obj/

/prototype/XNAnimation/XNAnimation/bin
/prototype/XNAnimation/XNAnimation/obj
/prototype/XNAnimation/XNAnimationPipeline/bin
/prototype/XNAnimation/XNAnimationPipeline/obj
